body{
    margin:0;
    font-family: 'Poppins', sans-serif;

}
.section-button{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding:10px 20px;
    background-image: linear-gradient(45deg,lightSalmon,tomato);
    border-radius: 30px;
    
}

.section-button:hover{
    background-image: linear-gradient(45deg,lightSalmon,rgb(166, 71, 255));

}

.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
section{
    margin-bottom: 100px;
    height: 400px;
}
.top-para{
    background-image: url("shapes/top-banner.png");
    background-repeat: no-repeat;
    
}
span{
    color: rgb(228, 79, 25);
    size:
}
.latest-project{
    background-color: rgb(204, 203, 203);
    
}
.latest-box{
    float: left;
    width:25%;
    margin-left:4%;
    padding:20px 30px;
    background-color: white;
    height:280px;
    box-shadow: 10px 10px 10px gray;
}
.work-area{
    background-image: url("shapes/inquery.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:300px;
    width:65%;
    margin: 100px auto;
    border-radius: 20px;
    

}

.work{
    width:40%;
    float:left;
    padding-left:10%;
    padding-top: 8%;
    font-weight: bold;
    color: white;
    font-size: 25px;

    
}

.button{
    width:40%;
    float:right;
    padding-left:10%;
    padding-top: 12%;

}
.button .btn{
    
    background-image: linear-gradient(45deg,lightSalmon,tomato);
    padding: 20px;
    border-radius: 5px;
    color: gainsboro;
    font-weight: 900;
    letter-spacing: 2px;
    text-decoration: none;
}
.button .btn:hover{
    
    background-image: linear-gradient(45deg,lightSalmon,rgb(166, 71, 255))
    
}


.box-img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    
}
.box-h{
    text-align: center;
}
.box-p{
    text-align: center;
}
.head-name{
    
    font-size: 50px;
    line-height:20%;
}
.head-name-color{
    color: rgb(245, 132, 66);
    font-weight: bold;
    
}




  
.nav{
    float:right;
    background-color: white;
    margin: 5px 30px;
    padding-left:10px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;

}

.nav:hover{
    color:blueviolet;

}
